@font-face {
  font-family: 'Aptos';
  src: url('@/assets/fonts/aptos/aptos.eot');
  src: url('@/assets/fonts/aptos/aptos.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('@/assets/fonts/aptos/aptos-semibold.eot');
  src: url('@/assets/fonts/aptos/aptos-semibold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Aptos';
  src: url('@/assets/fonts/aptos/aptos-light.eot');
  src: url('@/assets/fonts/aptos/aptos-light.ttf') format('truetype');
  font-weight: 100;
}

@import './base.scss';
@import './flex.scss';

#app {
  overflow: hidden;
}

a {
  display: inline-flex;
  // color: var(--res-linking-text);
  text-decoration: none;
  letter-spacing: -2px;
}

::-webkit-scrollbar {
  display: none;
}

#nprogress {
  .bar {
    // background: var(--res-accented-text);
    // background: var(--ds-accent);
  }
}

@media screen and (max-width: 768px) {
  #app {
    overflow: auto;
  }
}