@font-face {
  font-family: 'Aptos';
  src: url('./fonts/aptos/aptos.eot');
  src: url('./fonts/aptos/aptos.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/aptos/aptos-semibold.eot');
  src: url('./fonts/aptos/aptos-semibold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/aptos/aptos-light.eot');
  src: url('./fonts/aptos/aptos-light.ttf') format('truetype');
  font-weight: 100;
}

@import './base.scss';
@import './flex.scss';

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
}

h2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  line-height: 1;

  svg {
    fill: var(--res-divider-light-1);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    svg {
      // fill: var(--res-linking-text);
      fill: var(--res-accented-text);
    }
  }
}

h3 {
  font-size: 1.125rem;
}

a {
  display: inline-flex;
  align-items: center;
  gap: .25rem;
  // box-shadow: inset 0 -2px 0 var(--res-linking-text-hover);
  // color: var(--res-linking-text);
  text-decoration: none;
  transition: color 0.25s, box-shadow 0.25s;

  svg {
    // fill: var(--color-text);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    // box-shadow: inset 0 -1.5rem 0 var(--res-linking-text-hover);
    svg {
      filter: drop-shadow(0px 0px 10px var(--res-divider-light-2));
      // fill: var(--res-linking-text);
      fill: var(--res-accented-text);
    }
  }

  .item .link & {
    // fill: var(--res-divider-light-1);
    fill: var(--res-text-light-2);
  }
}

.link {
  justify-content: center;
  align-items: center;

  a {
    max-width: 20%;
    max-height: 20%;
    padding: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    color: burlywood;
    font-size: 7vw;
    text-shadow: 1px 1px white;
  }
}

main {
  &.res {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 816px; //960px;
    margin: 0 auto;
    // padding: 4rem 2rem 2rem 1.5rem;
    padding: 2rem 2.5rem;
    // box-shadow: 0 0 1px var(--color-border);
    // box-shadow: 0 0 1rem var(--res-divider-light-2);
    // box-shadow: 0 0 1rem rgba(225,225,225,.5);
    box-shadow: 0 0 1rem var(--res-text-dark-2);
    border-radius: 5px;
    background: white;
    font-family: 'Math', 'Aptos', sans-serif;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:first-of-type {
    gap: 0;

    .row {
      .item {
        .details {
          // font-size: .875rem;
          font-size: 0;
        }
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.35rem;
    row-gap: .25rem;
    color: var(--color-text);
    // font-family: 'Aptos', sans-serif;
    font-size: 1.125rem;
    line-height: 1.125;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-inline-start: 20px;
    // margin: .5rem 0 1.5rem;

    li {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      // &::before {
      //   display: flex;
      //   position: absolute;
      //   margin: 0 .5rem 0 -1.5rem;
      //   padding-right: .5rem;
      //   font-size: 1.125rem;
      //   line-height: 1.25;
      //   content: '•';
      // }

      ul {
        gap: .25rem;
        margin: .25rem 0 0;
        padding-inline-start: 20px;

        li {
          flex-direction: row;
          align-items: flex-start;

          &::before {
            position: relative;
            margin: 0 0 0 -1rem;
            padding: 0;
            font-size: 1rem;
            line-height: 1.5;
            // content: '◦';
            content: '•';
          }

          span {
            line-height: 1.25;
          }
        }
      }

      
  .skills {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: 1rem;
    padding-left: 20px;
    font-size: 1rem;

    b {
      display: flex;
      flex: 1 0 auto;
      line-height: 1.125;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0 .5rem;
      margin: 0;
      padding: 0;
      
      li {
        display: flex;
        gap: 0;
        line-height: 1.125;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        white-space: nowrap;
          
        &::before {
          display: none;
        }

        &::after {
          content: ", ";
        }

        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }
    }
  }
}

::selection {
  // background-color: var(--res-linking-text-hover);
  background-color: var(--res-accented-text-hover);
}

::-webkit-scrollbar {
  display: none;
}

@media print {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  body {
    font-size: 13px;
  }

  header,
  footer,
  aside {
    display: none;
  }

  #app {
    padding: 0;
  }

  main {
    &.res {
      gap: 2rem;
      max-width: 100%;
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  section {
    gap: 0;

    .row {
      gap: 0.5rem;

      h3 {
        font-size: 14px;
      }
    }

    ul {
      gap: 0;
      
      li {
        gap: .25rem;

        &::before {
          // color: red;
          line-height: 18px;//1.25;
        }
      }
    }
  }

  a.link {
    font-size: 0;

    &::after {
      font-size: 12px;
      line-height: normal;
      content: attr(href);
    }
  }
}

@media screen and (min-width: 601px) {
  body {
    font-size: 18px;
    --dot-bg: var(--color-background);
    --dot-color: var(--color-border);
    --dot-size: 1.5px;
    --dot-space: 12px;
    // background:
    //   linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
    //     center / var(--dot-space) var(--dot-space),
    //   linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
    //     var(--dot-space) var(--dot-space),
    //   var(--dot-color);
    // background-attachment: fixed;
  }
}

@media screen and (min-width: 1921px) {
  body {
    font-size: 21px;
  }

  #app {
    padding: 0;
  }

  header {
    position: static;
  }

	main.res {
		display: grid;
    max-width: 1800px;
    grid-template-areas: 'header header' 'section skills' 'section edu';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;

		section {
      &:first-child { grid-area: header;
        .row {
          .item {
            .details {
              // font-size: unset;
            }
          }
        }
      }
      &:nth-child(2) { grid-area: section; }
      &:nth-child(3) { grid-area: skills; }
      &:nth-child(4) { grid-area: edu; }
		}
	}
}

@media screen and (max-width: 768px) {
  #app {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  body {
    line-height: 1.5;
  }

  #app {
    padding: 0;
  }

  main {
    &.res {
      margin: 0;
      padding: 4rem 1.5rem 0 1rem;
      box-shadow: none;
    }
  }

  section {
    ul {
      padding-inline-start: 10px;

      li {
        .skills {
          gap: .25rem;
          flex-direction: column;
        }
      }
    }
  }
}

#nprogress {
  .bar {
    background: var(--res-accented-text);
  }
}
